.settings {
  background-image: url("../assets//images//background-image.png"),
    linear-gradient(#0c0a21, #06090c);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
  padding: 2rem;
}

.settingsItems {
  flex: 1;
}
.settingsNames .heading {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.settingsNames .heading .headingImg {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}
.settingsNames .heading h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}
.settingsItems .settingName {
  width: 91%;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  padding-left: 0rem;
  padding-right: 0rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border: 1px solid #06090c00;
}
.settingsItems .settingName h5 {
  font-weight: 500;
  color: #fff;
}
.settingsItems .settingName span {
  opacity: 0;
  margin-left: -0.22rem;
}
.settingsItems .settingName:hover,
.settingsItems .settingName.active {
  border: 1px solid #0b6dff;
}

.settingsItems .settingName:hover span,
.settingsItems .settingName.active span {
  opacity: 1;
  margin-right: 0.2rem;
}

.showSetting {
  flex: 2;
  max-height: 660px;
  overflow-y: auto;
}
.settingsNames {
  max-height: 460px;
  overflow-y: auto;
}
/* .showSetting::-webkit-scrollbar,
.settingsNames::-webkit-scrollbar {
  display: none;
} */
.networkSettings,
.parentalSettings {
  background-color: #154389cd;
  padding: 10rem 5rem;
  border-radius: 5px;
  min-height: 200px;
  margin-top: 2rem;
}
.networkSettings h5,
.networkSettings h4,
.parentalSettings h4 {
  color: #fff;
  font-weight: 400;
}
.networkSettings h4,
.parentalSettings h4 {
  margin-bottom: 2rem;
  font-size: 1.3rem;
}
.networkSettings .status {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
}
.networkSettings .status span,
.parentalSettings input {
  border: 1px solid var(--themeBlue--);
  color: var(--themeBlue--);
  padding: 0.5rem 4rem;
  padding-left: 0.8rem;
  min-width: 40%;
  border-radius: 5px;
}
.parentalSettings input {
  background-color: transparent;
  margin-bottom: 1rem;
  width: 50%;
  outline: none;
  color: #fff;
}
.parentalSettings input::placeholder {
  color: var(--themeBlue--);
}
.networkSettings .btn,
.parentalSettings .btn {
  background-color: var(--themeBlue--);
  padding: 1rem 3rem;
  border: none !important;
  outline: none !important;
  border-radius: 10px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-top: 2rem;
  cursor: pointer;
}
